/* styles.module.css */

.logoutContainer {
    display: flex;
    background-color: #b9281d; /* Red color */

    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: 20px; /* Adjust as needed to create space between the button and the edge */
  }
  
  .logoutButton {
    background-color: #b9281d; /* Red color */
    color: rgb(194, 16, 16);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  